BASE_URL="https://s6.chatguru.app"
EMAIL="<EMAIL_CHATGURU>"
PASSWORD="<SENHA_CHATGURU>"

# MySQL Credentials
MYSQL_HOST=<MYSQL_HOST>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_DATABASE=<MYSQL_DATABASE>